.header {
    /* margin: 0 15px 50px 15px; */
    padding: 15px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 63px 0 rgba(0, 0, 0, 0.07);
}

.link {
    display: flex;
    align-items: center;
    gap: 13px;
}

.stat {
    display: flex;
    align-items: center;
    gap: 5px;
}

.textLink {
    color: var(--red);
    font-weight: 300;
    font-size: 24px;
}

.statText {
    color: var(--red);
}