.header{
    margin: 0 15px 50px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link{
    display: flex;
    align-items: center;
    gap: 13px;
}
.stat{
    display: flex;
    align-items: center;
    gap: 5px;
}

.textLink{
    color: var(--red);
    font-weight: 300;
    font-size: 24px;
}

.statText{
    color: var(--red);
}