.showTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
    border-bottom: 1px solid var(--grey);
    cursor: pointer;
}

.one {
    border-top: 1px solid var(--grey);
}

.task {
    display: flex;
    gap: 16px;
}


.numberTask {
    padding-left: 6px;
    position: relative;
    font-weight: 300;
    font-size: 16px;
}

.numberTask::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border: 1px solid var(--light-grey);
    stroke-width: 1px;
    border-radius: 100%;
    left: -20%;
    top: -20%;
}

.textTask {
    font-weight: 300;
    font-size: 16px;
}

.dropBtn {
    cursor: pointer;
    position: relative;
}