.timerBlock {
    padding-top: 50px;

    width: 50%;
}

.headerTime {
    padding: 19px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-grey);

}

.headerTitle {
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
    user-select: none;
}

.content {
    width: 100%;
    padding-bottom: 10%;
    height: auto;
    display: flex;
    padding-top: 70px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--thin-grey);
}

.timer {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 9px;
}

.timerClock {
    font-weight: 100;
    font-size: 150px;
    line-height: 100%;
}

.timmerAdd {
    cursor: pointer;
}

.tasks {
    font-size: 16px;
    line-height: 106%;
    margin-bottom: 32px;
}

.taskNumber {
    color: var(--grey);
}

.btnContainer {
    display: flex;
    gap: 25px;
}

.btnSucsess, .btnEnd {
    padding: 15px 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 106%;
    width: fit-content;
    border: 2px solid transparent;
}

.btnSucsess {
    background: var(--light-green);
    color: var(--white);
}

.btnEnd {
    border-color: var(--red);
    color: var(--red);
}