.statistic {
    padding: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.main {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
}